
@{
    ViewData["Title"] = "Dashboard";
    ViewData["Menu"] = "User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        sdaoksakdoasdkasokdkasodksaodksado
    </div>
</div>

